* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 30px;
    color: var(--text);
    color: var(--text);
    background-color: var(--bg);
    font-family: "Poppins";
}
  
:root {
    --text: #f0f3f9;
    --bg: #1f0428;
    --box: #31073c;
    --prime: #87abed;
    --second: #78158e;
    --inside: #de25a5;
    --sectpadd: 150px;
    --smallpad: 50px;
}


/* ANIMATION */
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
    background-color: transparent;
} 
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
/* ANIMATION */

/* RESPONSIVE */
@media all and (min-width: 1rem){
    /* NAVIGATION */
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
    }
    nav ul {
        
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    /* NAVIGATION */

    /* SECTION ONE AND TWO */
    #one, #two {
        padding-top: var(--smallpad);
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
    }
    #one p, #two p {
        font-size: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .text {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        background-color: var(--box);
        text-align: center;    
    }
    .box {
        grid-column-start: 2;
        background-color: var(--box);
        padding: 25px;
        column-gap: 20px;
        border-radius: 25px;
    }
    .oops {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--box);
    }
    .fancy {
        width: 90%;
        padding: 25px 25px 0px 25px;
        background-color: var(--box);
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #one .desc{
        padding: 25px;
        background-color: transparent;
        grid-row: 1 / 3;
        grid-column: 2 / 2;
    }
    .fancy a {
        background-color: var(--box);
    }
    #one .bi, #two .bi {
        background-color: var(--box);
        padding: 0px 15px 0px 15px;
        color: var(--prime);
    }
    .button {
        background-color: var(--second);
        grid-column: span 2;
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        text-align: center;
        width: 70%;
        margin: auto;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }

    /* THE DIFFERENCE */
    #two .desc{
        margin: auto;
        padding: 25px;
        background-color: transparent;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    /* THE DIFFERENCE */

    /* SECTION ONE */


    /* FOOTER */
    footer {
        padding-top: var(--smallpad);
    }
    #icons {
        display: grid;
        grid-template-columns: 19fr 1fr 1fr 19fr;
        text-align: center;
        background-color: transparent;
    }
    #git:hover, #email:hover {
        scale: 2.5;
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: 25px;
        margin-top: 25px;
        text-align: center;
        color: white;
        padding-bottom: var(--smallpad);
        background-color: transparent;
        font-size: 20px;
    }
    /* FOOTER */

    /* CAROUSEL */
    img {
        width: 92%;
        height: 150px;
        object-fit: cover;
        object-position: 100% 0;
    }
    /* CAROUSEL */
}

@media all and (min-width: 40rem){
    
    /* NAVIGATION */
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
    }
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        font-size: 22px;
        text-decoration: none;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    /* NAVIGATION */

    /* SECTION ONE AND TWO */
    #one, #two {
        padding-top: var(--smallpad);
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
    }
    #one p, #two p {
        font-size: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .text {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        background-color: var(--box);
        text-align: center;    
    }
    .box {
        grid-column-start: 2;
        background-color: var(--box);
        padding: 25px;
        column-gap: 20px;
        border-radius: 25px;
    }
    .oops {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--box);
    }
    .fancy {
        width: 90%;
        padding: 25px 25px 0px 25px;
        background-color: var(--box);
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #one .desc{
        padding: 35px;
        background-color: transparent;
        grid-row: 1 / 3;
        grid-column: 2 / 2;
    }
    .fancy a {
        background-color: var(--box);
    }
    #one .bi, #two .bi {
        background-color: var(--box);
        padding: 0px 15px 0px 15px;
        color: var(--prime);
    }
    .button {
        background-color: var(--second);
        grid-column: span 2;
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }

    /* THE DIFFERENCE */
    #two .desc{
        margin: auto;
        padding: 35px;
        background-color: transparent;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    /* THE DIFFERENCE */

    /* SECTION ONE */


    /* FOOTER */
    footer {
        padding-top: var(--smallpad);
    }
    #icons {
        display: grid;
        grid-template-columns: 19fr 1fr 1fr 19fr;
        text-align: center;
        background-color: transparent;
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: var(--smallpad);
        margin-top: 25px;
        text-align: center;
        background-color: transparent;
        font-size: 25px;
    }
    #git:hover, #email:hover {
        scale: 3;
    }
    /* FOOTER */

    /* CAROUSEL */
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: 100% 0;
    }
    /* CAROUSEL */

}

@media all and (min-width: 55rem){
    /* NAVIGATION */
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
        }
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        font-size: 25px;
        text-decoration: none;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    /* NAVIGATION */

    /* SECTION ONE AND TWO */
    #one, #two {
        padding-top: var(--smallpad);
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
    }
    #one p, #two p {
        font-size: 25px;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .text {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row: span 2;
        background-color: var(--box);
        text-align: center;
    }
    .box {
        grid-column-start: 2;
        background-color: var(--box);
        padding: 25px;
        column-gap: 20px;
        border-radius: 25px;
    }
    .oops {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 1;
        background-color: var(--box);
    }
    .fancy {
        width: 90%;
        padding: 25px 25px 0px 25px;
        background-color: var(--box);
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #one .desc{
        padding: 35px;
        background-color: transparent;
    }
    .fancy a {
        background-color: var(--box);
    }
    #two .text {
        display: flex;
        grid-row: span 2;
        align-items: center;
    }
    #two .fancy {
        grid-row-start: 1;
        padding-bottom: 15px;
    }
    #one .bi, #two .bi {
        background-color: var(--box);
        padding: 0px 15px 0px 15px;
        color: var(--prime);
    }
    .button {
        background-color: var(--second);
        grid-column: span 1;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        width: 75%;
        text-align: center;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }

    /* THE DIFFERENCE */
    #two .desc{
        margin: auto;
        padding: 35px;
        background-color: transparent;
    }
    /* THE DIFFERENCE */

    /* SECTION ONE */


    /* FOOTER */
    footer {
        padding-top: var(--smallpad);
    }
    #icons {
        display: grid;
        grid-template-columns: 19fr 1fr 1fr 19fr;
        text-align: center;
        background-color: transparent;
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: var(--smallpad);
        margin-top: 25px;
        text-align: center;
        background-color: transparent;
        font-size: 25px;
    }
    #git:hover, #email:hover {
        scale: 3;
    }
    /* FOOTER */

    /* CAROUSEL */
    img {
        width: 94%;
        height: 150px;
        object-fit: cover;
        object-position: 100% 0;
    }
    /* CAROUSEL */


}


@media all and (min-width: 75rem){
    
    /* NAVIGATION */
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
    }
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        text-decoration: none;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    /* NAVIGATION */

    /* SECTION ONE AND TWO */
    #one, #two {
        padding-top: var(--sectpadd);
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
    }
    #one p, #two p {
        font-size: 30px;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .text {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row: span 2;
        background-color: var(--box);
        text-align: center;
    }
    .box {
        grid-column-start: 2;
        background-color: var(--box);
        padding: 25px;
        column-gap: 20px;
        border-radius: 25px;
    }
    .oops {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 1;
        background-color: var(--box);
    }
    .fancy {
        width: 90%;
        padding: 25px 25px 0px 25px;
        background-color: var(--box);
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #one .desc{
        padding: 35px;
        background-color: transparent;
    }
    .fancy a {
        background-color: var(--box);
    }
    #two .text {
        display: flex;
        grid-row: span 2;
        align-items: center;
    }
    #two .fancy {
        grid-row-start: 1;
        padding-bottom: 15px;
    }
    #one .bi, #two .bi {
        background-color: var(--box);
        padding: 0px 15px 0px 15px;
        color: var(--prime);
    }
    .button {
        background-color: var(--second);
        grid-column: span 1;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        width: 50%;
        text-align: center;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }

    /* THE DIFFERENCE */
    #two .desc{
        margin: auto;
        padding: 35px;
        background-color: transparent;
    }
    /* THE DIFFERENCE */

    /* SECTION ONE */


    /* FOOTER */
    footer {
        padding-top: var(--smallpad);
    }
    #icons {
        display: grid;
        grid-template-columns: 19fr 1fr 1fr 19fr;
        text-align: center;
        background-color: transparent;
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: 40px;
        margin-top: 25px;
        text-align: center;
        padding-bottom: var(--smallpad);
        background-color: transparent;
        font-size: 30px;
    }
    #git:hover, #email:hover {
        scale: 3;
    }
    /* FOOTER */

    /* CAROUSEL */
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: 100% 0;
    }
    /* CAROUSEL */



}