* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 30px;
    color: var(--text);
    background-color: var(--bg);
    font-family: "Poppins";
}
  
:root {
    --text: #f0f3f9;
    --bg: #1f0428;
    --box: #31073c;
    --prime: #87abed;
    --second: #78158e;
    --inside: #de25a5;
    --sectpadd: 200px; 
    --smallpad: 50px;
}

/* NAVIGATION */
nav {
    text-align: center;
    border-bottom: solid 3px var(--second);
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    transition: .3s;
}
nav a:hover {
   color: var(--prime); 
}
/* NAVIGATION */

/* FIRST CONTENT BLOCK */
#one {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
}
/* FIRST CONTENT BLOCK */

/* SECOND CONTENT BLOCK */
#two {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}
/* SECOND CONTENT BLOCK */

/* FOOTER */
#icons {
    display: grid;
    grid-template-columns: 19fr 1fr 1fr 19fr;
    text-align: center;
    background-color: transparent;
}
/* FOOTER */

/* ANIMATION */
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
    background-color: transparent;
} 
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
/* ANIMATION */

/* RESPONSIVE */
@media all and (min-width: 1rem){
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
    }
    nav ul {
        
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    #one {
        padding-top: var(--smallpad);
        padding-bottom: var(--smallpad);
    }
    #one p {
        text-align: left;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 20px;
        padding-bottom: 15px;
    }
    #one img {
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    #two {
        padding-bottom: var(--smallpad);
        padding-top: var(--smallpad);
        row-gap: var(--smallpad);
    }
    #two img {
        width: 100%;
    }
    #c1 img, #c2 img {
        height: 125px;
        object-fit: cover;
        object-position: 100% 0;
    }
    .c {
        padding: var(--smallpad);
        background-color: var(--box);
        border-radius: 25px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .doc {
        background-color: var(--box);
    }
    #two p {
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 18px;
    }
    .button {
        background-color: var(--second);
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        font-size: 20px;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: 25px;
        margin-top: 25px;
        text-align: center;
        padding-bottom: var(--smallpad);
        background-color: transparent;
        font-size: 20px;
    }
    #git:hover, #email:hover {
        scale: 2.5;
    }
}

@media all and (min-width: 40rem){
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
    }
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        font-size: 22px;
        text-decoration: none;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    #one {
        padding-top: var(--smallpad);
    }
    #one p {
        text-align: left;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 25px;
        padding-bottom: var(--smallpad);
    }
    #one img {
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
        scale: .9;
    }
    #two {
        padding-bottom: var(--smallpad);
        padding-top: var(--smallpad);
        row-gap: var(--smallpad);
    }
    #two img {
        width: 100%;
    }
    #c1 img, #c2 img {
        height: 175px;
        object-fit: cover;
        object-position: 100% 0;
    }
    .c {
        padding: var(--smallpad);
        background-color: var(--box);
        border-radius: 25px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .doc {
        background-color: var(--box);
    }
    #two p {
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
    }
    .button {
        background-color: var(--second);
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        font-size: 25px;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: var(--smallpad);
        margin-top: 25px;
        text-align: center;
        background-color: transparent;
        font-size: 25px;
    }
    #git:hover, #email:hover {
        scale: 3;
    }
}

@media all and (min-width: 55rem){
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
        }
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        font-size: 25px;
        text-decoration: none;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    #one {
        padding-top: var(--smallpad);
        padding-bottom: var(--smallpad);
    }
    #one p {
        text-align: left;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 25px;
        padding-right: 15px;
        padding-bottom: 0px;
    }
    #one img {
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        scale: .9;
        padding-left: 15px;
        display: block;
        margin: auto;
    }
    #two {
        padding-bottom: var(--sectpadd);
        padding-top: var(--smallpad);
        column-gap: var(--smallpad);
    }
    #two img {
        width: 100%;
    }
    #c1 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #c2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #c1 img, #c2 img {
        height: 100px;
        object-fit: cover;
        object-position: 100% 0;
    }
    .c {
        padding: var(--smallpad);
        background-color: var(--box);
        border-radius: 25px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .doc {
        background-color: var(--box);
    }
    #two p {
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
    }
    .button {
        background-color: var(--second);
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        font-size: 15px;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: var(--smallpad);
        margin-top: 25px;
        text-align: center;
        background-color: transparent;
        font-size: 25px;
    }
    #git:hover, #email:hover {
        scale: 3;
    }
}


@media all and (min-width: 75rem){
    nav {
        text-align: center;
        border-bottom: solid 3px var(--second);
    }
    nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 25px;
        align-items: center;
    }
    a {
        text-decoration: none;
        transition: .3s;
    }
    nav a:hover {
       color: var(--prime); 
    }
    #one {
        padding-top: 150px;
        padding-bottom: var(--sectpadd);
    }
    #one p {
        text-align: left;
        grid-column-start: 2;
        font-size: 35px;
        padding-right: 25px;
    }
    #one img {
        width: 100%;
        float: right;
        padding-left: 25px;
    }
    #two {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        column-gap: 50px;
        padding-bottom: var(--sectpadd);
    }
    #two img {
        width: 100%;
    }
    #c1 {
        grid-column-start: 2;
    }
    #c1 img, #c2 img {
        height: 200px;
        object-fit: cover;
        object-position: 100% 0;
    }
    .c {
        padding: var(--smallpad);
        background-color: var(--box);
        border-radius: 25px;
        text-align: center;
    }
    .doc {
        background-color: var(--box);
    }
    #two p {
        background-color: transparent;
        padding: 25px;
        padding-bottom: 50px;
        font-size: 25px;
    }
    .button {
        background-color: var(--second);
        padding: 15px;
        border-radius: 25px;
        transition: .3s;
        font-size: 30px;
    }
    .button:hover {
        background-color: var(--inside);
        color: var(--bg);
    }
    #git {
        grid-column-start: 2;
        padding-right: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    #email {
        padding-left: 25px;
        scale: 2.5;
        background-color: transparent;
        transition: .3s;
    }
    footer p {
        padding: 40px;
        margin-top: 25px;
        text-align: center;
        padding-bottom: var(--smallpad);
        background-color: transparent;
        font-size: 30px;
    }
    #git:hover, #email:hover {
        scale: 3;
    }
}

