* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: var(--mainfont);
    font-size: 24px;
}
  
:root {
    --light: #FDD3C5;
    --dark: #FFCCBB;
    --foot: #FFB8A0;
    --img: #E1FDC5;
    --ndark: #B484E4;
    --nlight: #E1C5FD;
    --content: #FDE1C5;
    --all: span 12;
    --mainfont: "Poppins", sans-serif;
    --space: 24px;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: unset;
    background-color: var(--light);
    grid-column: var(--all);
}
  
/* This section is the nav */
nav {
    grid-column: var(--all);
}
li {
    display: inline-block;
    text-align: center;
    padding: var(--space);
}
  
ol {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--nlight);
}
.one a, .two a, .three a {
    padding: var(--space);
    width: 100%;
    text-decoration: none;
    color: black;
}
.one {
    grid-column: span 3;
}
.two {
    grid-column: span 5;
}
.three {
    grid-column: span 4;
}
.one a{
    grid-column: span 3;
}
.two a{
    grid-column: span 3;
    background-color: var(--ndark);
}
.three a{
    grid-column: span 3;
  
}
a:hover {
    background-color: var(--ndark);
}
/* Nav over */


.section1{
    background-color: var(--light);
    grid-column: var(--all);
    margin: 24px;
}
h2 {
  font-size: 36px;
  text-align: left;
  margin-bottom: 20px;
}
.section1 p {
  padding-bottom: var(--space);
}
.section1 img {
  float: left;
  display: block;
  width: 40%;
  margin-right: 24px;
}


.section2{
    background-color: var(--dark);
    grid-column: var(--all);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div{
    grid-column: span 1;
    margin-left: 60px;
    margin-right: 60px;
}
.section2 p {
  margin-bottom: 60px;
}
iframe {
  margin-top: 60px;
}



/* Foot */
footer {
    background-color: var(--foot);
    grid-column: var(--all);
    padding-top: 2em;
    padding-bottom: 2em;
}
footer p {
    margin: auto;
    text-align: center;
}
  
